<div class="page-header">
  <h1>Empleados: <small>Alta.</small></h1>
</div>

<form #empleadoForm="ngForm">

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" name="correo" id="inputEmail4" placeholder="Email" [(ngModel)]="empleado.correo">
    </div>
    <br>
    <div class="form-group col-md-6">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" name="pass" id="inputPassword" placeholder="Password" [(ngModel)]="empleado.pass">
    </div>
</div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputNombre">Nombre(s)</label>
        <input type="text" class="form-control" name="nombre" id="inputNombre" placeholder="Indicar: Nombre(s)" [(ngModel)]="empleado.nombre">
    </div>
    <br> 
    <div class="form-group col-md-3">
        <label for="inputApp">Apellido Paterno</label>
        <input type="text" class="form-control" name="app" id="inputApp" placeholder="Indicar: Apellido Paterno" [(ngModel)]="empleado.app">
    </div>
    <br>
    <div class="form-group col-md-3">
        <label for="inputApm">Apellido Materno</label>
        <input type="text" class="form-control" name="apm" id="inputApm" placeholder="Indicar: Apellido Materno" [(ngModel)]="empleado.apm">
    </div>
    <br>
    
  </div>
  
  <!-- <div class="form-group">
      <label for="inputFn">Fecha Nacimiento</label>
      <input type="date" class="form-control" name="fn" id="inputFn" placeholder="Indicar: Fecha Nacimiento" [(ngModel)]="empleado.fn">
  </div>  -->



  <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Status</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="gridRadios1" value="0" [(ngModel)]="empleado.status" >
            <label class="form-check-label" for="gridRadios1">
              Inactivo
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="gridRadios2" value="1" [(ngModel)]="empleado.status" >
            <label class="form-check-label" for="gridRadios2">
              Activo
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    

  

  <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
  <button (click)="salvarEmpleado()" class="btn btn-primary btn-lg btn-block">Guardar</button>
  <br>
  <br>
  <a class="btn btn-secondary btn-danger" routerLink="/empleados"> -- Atras -- </a>

</form>

<br>
<br>
<br>





