<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="ae-container-fluid rk-topbar">    
    
        <div class="row">
            <div class="col-xs-9 ">
                <img src="assets/img/vacacioneslogin.png" alt="" left="72px" width= "500px" height="450px">  
            </div>
            
            <div class="col-xs-9">
                <img src="assets/img/nuxibalogo.PNG" alt=""   width= "130px" height="100px">
                <br>
                <br>
                <app-email></app-email>
                <app-password></app-password>
                <app-entrar></app-entrar>
            </div>
        </div> 
  
</div>
</nav>