<header class="ae-container-fluid ae-container-fluid--full rk-header">
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
      
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">

      <a routerLink="portafolio.html" class="simple-text">
         <div class="logo-img">
            <img src="/assets/img/logonu.PNG"/>
          </div>
      </a>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="navbar-nav"> 
          <li class="nav-item">
            <a class="nav-link" routerLink="altaempleado">Alta Empleado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="empleados">Reporte Empleado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="altaarea">Alta Area</a>
          </li>      
        </ul>
      </div>
                    
  </nav>
</header>